/*-----index-----*/
main{
    background-color: nth($colores, 1);
    .hero{
        div{
            text-align: center;
            width: 100%;
            height: 80vh;
            background-image: url("../img/fondo1.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            @include flex (flex, center);
            flex-direction: column;
            align-items: center;
        h1{
            display: inline-block;
            width: 25%;
            text-decoration: none;
            color: nth($colores, 3);
            background-color: nth($colores, 2);
            padding: 10px; 
        }
        p{
            display: inline-block;
            width: 50%;
            text-decoration: none;
            color: nth($colores, 3);
            background-color: nth($colores, 2);
            padding: 10px;
        }
        }
    }
    .salones{
        h2{
            font-size: nth($font-size, 3);
            color: nth($colores, 3);
            background-color: nth($colores, 4);
        }
        .salones-contenedor{
            @include flex (flex, space-around);
            flex-wrap: wrap;            
            div{
                border: 2px solid nth($colores, 4);
                width: 275px;
                height: 350px;
                margin: 25px;
                text-align: center;
                display: inline-block;
                background-color: aliceblue;
                transition-property: width heigth;
                transition-duration: 1s;
                transition-timing-function: ease-in-out;
                img{
                    width: 240px;
                    height: 260px;
                    border: 2px solid nth($colores, 5);
                }
                a{
                    text-decoration: none;
                    color:nth($colores, 3);
                    font-weight: bold;
                    background-color: nth($colores, 4);
                    padding: 4px 5px;
                }
                &:hover{
                    width: 282px;
                    height: 365px;
                }
            }
        }
    }
    .contenido{
        @extend %flex;
        justify-content: center;
        margin-top: 30px;
        p{
            border: 1.5px solid nth($colores, 5);
            margin: 10px;
            padding: 10px;
        }
        img{
            width: 55%;
        }
    }
}
/*-----salones-----*/
.intro{
    @keyframes portada{
        from{
            margin: 100%;
            width: 200%;
        }
        to{
            margin: 0%;
            width: 100%;
        }
    }
    @extend %flex;
    flex-direction: column;
    h1{
        font-size: nth($font-size, 6);
        color: whitesmoke;
        background-color: nth($colores, 4);
        animation-name: portada;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
        animation-direction: initial;
    }
    img{
        width: 500px;
        height: 80vh;
        border: 2.5px solid nth($colores, 4);
        transition-property: width heigth;
        transition-duration: 2s;
        transition-timing-function: ease-in-out;
    }
    div{
        h2{
            font-size: nth($font-size, 4);
            color: nth($colores, 3);
            background-color: nth($colores, 4);
            padding: 5px;
        }
        p{
            font-size: nth($font-size, 1);
            display: inline-block;
            width: 70%;
            height: 50%;
            text-align: center;
            border: solid 2px nth($colores, 3)
        }
    }
}
.ntro-salon{
    flex-direction: column;
    @include flex (flex, center);
    h2{
        font-size: nth($font-size, 3);
        color: nth($colores, 3);
        background-color: nth($colores, 4);
        padding: 5px;
    }
    .foto-salon{
        @include flex (flex, center);
        display: grid;
        grid-template-columns: 23% 23% 23% 23%;
        grid-auto-rows: 400px;
        gap: 15px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border: 2px solid nth($colores, 5);
            box-shadow: 10px 4px 29px -7px rgba(0,0,0,0.75);
            -webkit-box-shadow: 10px 4px 29px -7px rgba(0,0,0,0.75);
            -moz-box-shadow: 10px 4px 29px -7px rgba(0,0,0,0.75);
        }
    }
}
.trabajos{
    h2{
        font-size: nth($font-size, 2);
        color: nth($colores, 3);
        background-color: nth($colores, 4);
        padding: 5px;
    }
    .grid-galeria{
        @include flex (flex, center);
        display: grid;
        grid-template-columns: 30% 30% 30%;
        grid-auto-rows: 400px;
        gap: 15px;
        .grid-item{
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                box-shadow: 10px 4px 29px -7px rgba(0,0,0,0.75);
                -webkit-box-shadow: 10px 4px 29px -7px rgba(0,0,0,0.75);
                -moz-box-shadow: 10px 4px 29px -7px rgba(0,0,0,0.75);
            }
            transition: 1.5s;
            &:hover{
                transform: scale(1.08);
            }
        }
    }
}
.ubicacion{
    h3{
        color: nth($colores, 3);
        background-color: nth($colores, 4);
        padding: 5px
    }
    iframe{
        margin-left: 30px;
        border: 5px solid nth($colores, 4);
        transition: 1.5s;
        &:hover{
            transform: scale(1.08);
        }
        .frame{
            width: 600px;
            height: 400px;
        }
    }
}
/*-----contacto-----*/
.contacto{
    padding: 50px;
    h1{
        font-size: nth($font-size, 5);
        padding: 20px;
    }
    form{
        .datos{
            padding: 10px;
        }
        .genero{
            padding: 10px;
        }
        .casilla{
            h3{
                font-size: nth($font-size, 1);
                padding: 10px;
            }
            textarea{
                width: 310px;
                height: 250px;
            }
        }
    }
}